<section class="module mod-text-image">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="row">
                    <h2>Các tiện nghi</h2>
                </div>
                <div class="row">
                    <ul class="">
                        <li >Tất cả các phòng không hút thuốc</li>
                        <li >Phòng khách</li>
                        <li  >Bồn tắm, buồng tắm đứng, vòi sen và thiết bị vệ sinh thông minh</li>
                        <li  >Máy sấy tóc</li>
                        <li  >Áo choàng tắm</li>
                        <li  >Dép đi trong nhà</li>
                        <li  >Tủ quần áo</li>
                        <li  >TV & kênh truyền hình cáp</li>
                        <li  >Điện thoại IDD</li>
                        <li  >Wifi miễn phí trong tất cả các phòng</li>
                        <li  >Bàn làm việc</li>
                        <li  >Minibar</li>
                        <li  >Trà và cà phê</li>
                        <li  >Ấm siêu tốc</li>
                        <li  >2 chai nước khoáng hàng ngày</li>
                    </ul>
                </div>
                <div class="row"><img src="img/slider-banner/1200-x-800-px-2.png "></div>
            </div>
            <div class="col-md-6 "><img class="w-100" src="img/slider-banner/2-2.png"></div>
        </div>

    </div>
</section>