<section class="module mod-text-image">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-6">
                <a href="#" class="btn btn-outline-secondary">Xem phòng</a>
            </div>
            <div class="col-12 col-md-6"></div>
        </div>
        <div class="row">
            <div class="col-12 col-md-6"></div>
            <div class="col-12 col-md-6"></div>
        </div>
        <div class="row">
            <div class="col-12 col-md-6"></div>
            <div class="col-12 col-md-6"></div>
        </div>
        <div class="row">
            <div class="col-12 col-md-6"></div>
            <div class="col-12 col-md-6"></div>
        </div>
    </div>
</section>