<section class="module mod-text-image">
    <div class="container">
        <div class="row g-1 justify-content-center align-items-center mt-2">
            <div class="col-md-6">
                <img class="img-fluid h-90" style="width: 90%" src="img/slider-banner/tolex.png" alt="">
            </div>
            <div class="col-md-6 row g-4 justify-content-center align-items-center">
                <div class="col-12">
                    <h2>Premium Executive Suite</h2>
                </div>
                <div class="col-12">
                    <p>Trải nghiệm sự sang trọng tuyệt đối khi lưu trú tại hạng phòng Premium Executive Suite hướng ra
                        hồ Giảng Võ thơ mộng. Với thiết kế mang phong cách nhã nhặn, Premium Executive Suite nổi bật với
                        phòng khách riêng biệt, nội thất tinh tế cùng các tiên nghi hiện đại như thiết bị vệ sinh thông
                        minh (washlet), lý tưởng cho bất kỳ vị khách nào đang tìm kiếm nơi nghỉ dưỡng thư thái và đẳng
                        cấp tại thủ đô.</p>
                </div>
                <div class="col-12">
                    <a href="#" class="btn btn-outline-secondary">Đặt phòng</a>
                </div>

            </div>
        </div>

    </div>
</section>