<section class="module mod-banner-slider">
    <div class="banner-slider">
        <div class="slide position-relative">
            <div class="slide-image position-relative w-100vw h-100vh">
                <img class="position-absolute top-0 left-0 w-100 h-100 object-fit-cover" src="img/slider-banner/room.jpg" alt="Slide 1">
            </div>
            <div class="slide-content text-center">
                <h2>Đắm chìm trong không gian nghỉ dưỡng sang trọng.</h2>
            </div>
        </div>
        <div class="slide position-relative">
            <div class="slide-image position-relative w-100vw h-100vh">
                <img class="position-absolute top-0 left-0 w-100 h-100 object-fit-cover" src="img/slider-banner/room.jpg" alt="Slide 1">
            </div>
            <div class="slide-content text-center">
                <h2>Đắm chìm trong không gian nghỉ dưỡng sang trọng.</h2>
            </div>
        </div>
    </div>
</section>