<section class="module mod-banner-slider">
    <div class="banner-slider">
        <div class="slide position-relative">
            <div class="slide-image position-relative w-100vw h-100vh">
                <img class="position-absolute top-0 left-0 w-100 h-100 object-fit-cover" src="img/slider-banner/hotel-19023.webp" alt="Slide 1">
            </div>
            <div class="slide-content text-center">
                <h1>Hanoi Hotel</h1>
                <p>Live Oriental Heritage</p>
            </div>
        </div>
        <div class="slide position-relative">
            <div class="slide-image position-relative w-100vw h-100vh">
                <img class="position-absolute top-0 left-0 w-100 h-100 object-fit-cover" src="img/slider-banner/hotel-a4.webp" alt="Slide 1">
            </div>
            <div class="slide-content text-center">
                <h2 class="h1">Hanoi Hotel</h2>
                <p>Live Oriental Heritage</p>
            </div>
        </div>
        <div class="slide position-relative">
            <div class="slide-image position-relative w-100vw h-100vh">
                <img class="position-absolute top-0 left-0 w-100 h-100 object-fit-cover" src="img/slider-banner/DSC_0912.webp" alt="Slide 1">
            </div>
            <div class="slide-content text-center">
                <h2 class="h1">Hanoi Hotel</h2>
                <p>Live Oriental Heritage</p>
            </div>
        </div>
    </div>
</section>