body, html {
    overflow-x: hidden;
}
.home .main-content .module {
    position: relative;
    z-index: 1;
}
*:focus {
    box-shadow: none !important;
}
.divider {
    width: 70px;
    height: 3px;
    background-color: $secondary;
    margin: 5px 0;
    display: inline-block;
}