body, html {
    overflow-x: hidden;
}
.main-content .module {
    position: relative;
    z-index: 1;
}
*:focus {
    box-shadow: none !important;
}

a:not(.btn):not(.nav-link) {
    text-decoration: none !important;
    color: inherit !important;
    transition: all .25s linear;
    &:not(.social-icon):hover {
        color: $secondary !important;
    }
}

.bg-light-blue {
    background-color: $light-blue;
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4 {
    font-weight: 900;
}

.divider {
    width: 70px;
    height: 3px;
    background-color: $secondary;
    margin: 5px 0;
    display: inline-block;
}